<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="javaSelenium">
    <test name="com.github.hypoflex.javaselenium.tests.positive">
        <packages>
            <package name="com.github.hypoflex.javaselenium.tests.positive" />
        </packages>
    </test>
    <test name="com.github.hypoflex.javaselenium.tests.negative">
        <packages>
            <package name="com.github.hypoflex.javaselenium.tests.negative" />
        </packages>
    </test>
</suite>